# DATABASE CONNECTION PARAMS
DB_URL="your any database uri"

# USER AUTHORIZATION PARAMS
JWT_SECRET_KEY="your secret key"
ALGORITHM="your encryption and decryption algorithm for jwt token"
ACCESS_TOKEN_EXPIRE_MINUTES=int
REFRESH_TOKEN_EXPIRE_DAYS=int

# NEURAL MODEL PARAMS
TARGET_SAMPLE_RATE=int
AUDIO_MIN_DURATION_MS=int
CNN_MODEL_PATH=PathStr
